@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5">
    <h1 class="display-4">¡Bienvenidos a App-Rest!</h1>
</div>

<div class="container mt-5">
    <h3>Nuestra Especialidad</h3>

    <div class="row mt-4">
        <div class="col-md-12">
            <p>Descubre la nueva AppRest, especialmente diseñada para la administración eficiente de restaurantes. Con funcionalidades intuitivas y potentes, estamos cambiando la forma en que los restaurantes gestionan sus operaciones diarias.</p>
            <br>
            <img src="https://images.pexels.com/photos/260922/pexels-photo-260922.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid mx-auto d-block" alt="Restaurant">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <p>Optimiza tus procesos de pedidos, gestiona tu inventario de manera eficiente y mejora la experiencia general de tus clientes. AppRest está aquí para simplificar la administración de tu restaurante y permitirte concentrarte en lo que haces mejor: ¡ofrecer deliciosas experiencias gastronómicas!</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <p>¡Únete a la revolución de la gestión de restaurantes con AppRest! Desde la toma de pedidos hasta la gestión de inventario y más allá, te proporcionamos las herramientas que necesitas para llevar tu restaurante al siguiente nivel.</p>
        </div>
    </div>
</div>
