@{
    ViewData["Title"] = "Delivery";
}

<div class="container mt-5">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <div class="row">
        <div class="col-md-6">
            <img src="https://miro.medium.com/v2/resize:fit:500/1*acOrLPKlQa2zyEG7Er8eng.png" class="img-fluid" alt="Delivery Image">
        </div>
        <div class="col-md-6">
            <h2 class="mb-4">Cómo Solicitar Tu Delivery</h2>
            <p>En @ViewData["Title"], nos esforzamos por brindarte un servicio de delivery rápido y confiable. Sigue estos pasos para realizar tu pedido:</p>

            <ol>
                <li>Explora nuestro menú en línea.</li>
                <li>Selecciona los platos que te encantan.</li>
                <li>Completa tu pedido en el carrito.</li>
                <li>Proporciona tu información de entrega.</li>
                <li>Confirma tu pedido y realiza el pago.</li>
            </ol>

            <p>¡Listo! Tu deliciosa comida estará en camino. Si tienes alguna pregunta o solicitud especial, no dudes en comunicarte con nosotros.</p>
        </div>
    </div>
</div>
